@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 250px;
}

li {
    background-color: rgba(87, 124, 187, 0.26);
    margin: 2px 0;
    padding: 4px;
	overflow-wrap: break-word;
}

ul {
    padding-left: 0 !important;
    list-style-type: none !important;
}

li:hover {
    background-color: rgba(187, 185, 87, 0.26);
}

input[type=file] {
    width: 100%;
    background-color: rgba(212, 221, 237, 0.36);
    padding: 10px;
}

textarea[name=paragraphContent] {
    width:100%;
    min-height: 90px;
    resize: vertical;
}